<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - MedBuddy</title>
    <link rel="stylesheet" href="../static/css/about.css" />
  </head>
  <body>
    <nav>
      <div class="logo">MedBuddy</div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <h1>About Us</h1>
      <p>
        Welcome to <strong>MedBuddy</strong>, your trusted companion for
        reliable and accessible health insights.
      </p>

      <h2>Why MedBuddy?</h2>
      <p>
        At MedBuddy, we provide an innovative platform to assist users in
        understanding their symptoms and taking proactive measures towards
        better health.
      </p>
      <ul>
        <li>
          <strong>Disease Predictions:</strong> Analyze symptoms and receive
          insights into potential conditions.
        </li>
        <li>
          <strong>Descriptions:</strong> Get detailed information about the
          predicted condition.
        </li>
        <li>
          <strong>Precautions:</strong> Learn proactive steps to manage your
          symptoms effectively.
        </li>
        <li>
          <strong>Recommendations:</strong> Access medications, workouts, and
          diet plans tailored to your needs.
        </li>
      </ul>

      <h2>Our Technology</h2>
      <p>
        Med-Help leverages advanced machine learning algorithms trained on
        comprehensive datasets to provide accurate predictions and tailored
        recommendations.
      </p>

      <h2>Our Vision</h2>
      <p>
        We envision a world where everyone has access to reliable and immediate
        health insights, empowering individuals to make informed health
        decisions.
      </p>

      <button class="contact-button" onclick="window.location.href='/contact'">
        Get in Touch
      </button>
    </div>
  </body>
</html>
