<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us - MedBuddy</title>
    <link rel="stylesheet" href="../static/css/contact.css" />
  </head>
  <body>
    <nav>
      <div class="logo">MedBuddy</div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <div class="container">
      <h1>Contact Us</h1>
      <p>Have questions or need assistance? We're here to help!</p>

      <div class="section">
        <h2>Customer Support</h2>
        <p>
          Our dedicated customer support team is available to assist you with
          any inquiries or issues you may have. Whether it's a technical
          question, feedback, or a general inquiry, we're just a message away.
        </p>
      </div>

      <div class="section">
        <h2>Get in Touch</h2>
        <div class="contact-info">
          <p>
            Email:
            <a href="mailto:barsainyatanushri555@gmail.com"
              >barsainyatanushri555@gmail.com</a
            >
          </p>
          <p>Phone: <a href="tel:+918602527383">+91-8602527383</a></p>
        </div>
      </div>

      <div class="section">
        <h2>Location</h2>
        <p>Madhya Pradesh, India</p>
      </div>
    </div>
  </body>
</html>
